* {
  background-color: #ff5200;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 30px 90px;
}

.logo-container {
  margin: 10px;
  padding: 5px;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.nav-items > ul > li {
  list-style: none;
  font-weight: bold;
}

.nav-item {
  display: flex;
  margin-right: 30px;
}

.nav-item > li {
  margin: 10px;
  padding: 0 30px;
  font-size: 25px;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  font-size: 25px;
}

.input-container {
  display: flex;
  gap: 20px;
}

.input-box {
  color: gray;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 400px;
  height: 45px;
  padding: 13px 10px;
  font-size: 100%;
}

.input-box::placeholder {
  color: white;
}

.search-txt-label {
  display: flex;
  text-align: center;
  width: 60%;
}

.dropdown-container {
  color: gray;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 250px;
  height: 45px;
  padding: 13px 10px;
  font-size: 100%;
}

.dropdown-container > select {
  color: gray;
  background-color: #fff;
  width: 250px;
  height: 45px;
  padding: 10px 10px;
  font-size: 80%;
  border: none;
}
